@model Clinic.Models.Historia_Pacjenta

<h2>@ViewBag.Title - Historia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PacjentID)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.PacjentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pacjent.Nazwisko)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Pacjent.Nazwisko)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pacjent.Imie)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Pacjent.Imie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Odra)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Odra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Swinka)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Swinka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rozyczka)
        </dt>
        <dd>
            @Html.DisplayTextFor(model => model.Rozyczka)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index")
    @Html.ActionLink("Edytuj", "HistoriaEdytuj", new { id = Model.PacjentID })
</p>
