@model Clinic.Models.Pacjent

<h2>@ViewBag.Title - Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.StanCywilny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StanCywilny)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUrodzenia)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Plec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plec)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.NrTelefonu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrTelefonu)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index")
</p>
