@model IEnumerable<Clinic.Models.Zuzycie_Lekow>

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Nowy (LINQ)", "Nowa") <br />
@Html.ActionLink("Nowy (Procedura)", "Nowa")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WizytaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZaopatrzenieID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ilosc)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WizytaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZaopatrzenieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edytuj", new { id = item.WizytaID }) |
                @Html.ActionLink("Szczegóły", "Szczegoly", new { id = item.WizytaID }) |
                @Html.ActionLink("Usuń", "Usun", new { id = item.WizytaID })
            </td>
        </tr>
    }
</table>