@model Clinic.Models.NewMedUsageModel

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Nowy (LINQ)", "Nowy", new {id = Model.Id}) <br />
@Html.ActionLink("Nowy (Procedura)", "Nowa")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedUsage.FirstOrDefault().ZaopatrzenieID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedUsage.FirstOrDefault().Ilosc)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.MedUsage)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZaopatrzenieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc)
            </td>
            <td>
                @Html.ActionLink("Usuń", "Usun", new { id = item.WizytaID })
            </td>
        </tr>
    }
</table>