@model Clinic.Models.Recepta

<h2>@ViewBag.Title - szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceptaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceptaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacjentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacjentID)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DoktorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoktorID)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Lek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lek)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Refundacja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refundacja)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index")
</p>
