@model Clinic.Models.Zaopatrzenie

<h2>@ViewBag.Title - usuń</h2>

<p style="color:red">@ViewBag.ErrorMessage</p>

<h3>
    Czy na pewno chcesz usunąć zaopatrzenie o id 
    @Html.DisplayFor(model => model.ZaopatrzenieID)
    i nazwie 
    @Html.DisplayFor(model => model.Nazwa)?
</h3>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>